@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$font-meiryo: 'Meiryo-Bold';
$font-awesome: 'FontAwesome';
$main-color: #F18D00;
$main-boder: #CCCCCC;
$color_green: #7CBD45;
$color-violet: #9466AF;
$color-orange:  #F08C00;
$color-blue: #1AB77C;
$color-pink: #EA81AC;
