<div id = "side-bar" class="col-md-3">
  <div class="profile">
    <div class="profile-img">
      <img src="assets/images/profile.png">
    </div>
    <div class="profile-text">
      <p>名前</p>
      <p>サブ表示</p>
    </div>
  </div>
  <div class="search-form">
    <div class="input-group">
      <input class="form-control py-2 border-right-0 border search" type="search" value="検索" id="example-search-input">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary border-left-0 border" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="menu-left">
    <div class="menu-list">
      <ul id="menu-content" class="menu-content">
        <li  data-toggle="collapse" data-target="#products" class="collapsed active">
          <a><i class="fa fa-calendar fa-icon" aria-hidden="true"></i> スケジュール <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="products">
          <li>Page01</li>
          <li>Page02</li>
          <li>Page03</li>
          <li>Page04</li>
          <li>Page05</li>
          <li>Page06</li>
          <li><a href="#">Panels</a></li>
          <li><a href="#">Widgets</a></li>
          <li><a href="#">Bootstrap Model</a></li>
        </ul>


        <li data-toggle="collapse" data-target="#building" class="collapsed">
          <a><i class="fa fa-building fa-icon" aria-hidden="true"></i> 取引先 <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="building">
          <li>面会一覧</li>
          <li>取引業者を探す</li>
          <li><sup><i class="fa fa-shield" aria-hidden="true"></i></sup>面会状況</li>
          <li><sup><i class="fa fa-shield" aria-hidden="true"></i></sup>面会状況</li>
          <li class="blur"><sup><i class="fa fa-shield" aria-hidden="true"></i></sup>面会状況</li>
          <li class="blur"><sup><i class="fa fa-shield" aria-hidden="true"></i></sup>面会状況</li>
          <li class="blur">New Service 3</li>
        </ul>


        <li data-toggle="collapse" data-target="#building_o" class="collapsed">
          <a><i class="fa fa-building-o fa-icon" aria-hidden="true"></i> 取引先メッセージ <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="building_o">
          <li>New New 1</li>
          <li>New New 2</li>
          <li>New New 3</li>
        </ul>

        <li data-toggle="collapse" data-target="#envelope_o" class="collapsed">
          <a><i class="fa fa-envelope-o fa-icon" aria-hidden="true"></i> 取引先メッセージ <span class="arrow"></span>
            <div class="pull-right">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
            <div class="pull-right text-pull txt-white">
              <i>未読</i>
            </div>
          </a>
        </li>
        <ul class="sub-menu collapse" id="envelope_o">
          <li>New New 1</li>
          <li>New New 2</li>
          <li>New New 3</li>
        </ul>

        <li data-toggle="collapse" data-target="#envelope" class="collapsed">
          <a><i class="fa fa-envelope fa-icon" aria-hidden="true"></i> 院内メッセージ <span class="arrow"></span>
            <div class="pull-right">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
          </a>
        </li>
        <ul class="sub-menu collapse" id="envelope">
          <li>New New 1</li>
          <li>New New 2</li>
          <li>New New 3</li>
        </ul>

        <li data-toggle="collapse" data-target="#user_circle" class="collapsed">
          <a><i class="fa fa-user-circle fa-icon" aria-hidden="true"></i> 院内グループ <span class="arrow"></span>
            <div class="pull-right">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
            <div class="pull-right text-pull txt-white">
              <i>未読</i>
            </div>
          </a>
        </li>
        <ul class="sub-menu collapse" id="user_circle">
          <li>New New 1</li>
          <li>New New 2</li>
          <li>New New 3</li>
        </ul>

        <li data-toggle="collapse" data-target="#user_circle_o" class="collapsed">
          <a><i class="fa fa-user-circle-o fa-icon" aria-hidden="true"></i> 院外グループ <span class="arrow"></span>
            <div class="pull-right">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
          </a>
        </li>
        <ul class="sub-menu collapse" id="user_circle_o">
          <li>New New 1</li>
          <li>New New 2</li>
          <li>New New 3</li>
        </ul>
      </ul>
    </div>
  </div>
</div>
