<div id ="header" class="header">
  <nav class="navbar navbar-expand-lg navbar-light main-nav">
    <a class="navbar-brand navbar-logo" href="#"><img src="assets/images/logo.png" alt="logo"></a>
    <nav class="navbar navbar-title">
        <span class="navbar-text">
            管理者/シフト希望を募集 (新規)
        </span>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarSupportedContent">
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              日本東京病院
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              メニュー
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="icon">
              <span class="sub-text">A</span>
              <span class="texts"><sub style="font-size: 15px">123.040</sub></span>
            </div>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-star-o" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-paper-plane-o" aria-hidden="true"></i><sub>12</sub></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-cog" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <span class="navbar-text navbar-right">
              ログアウト
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
