.btn-arrow {
  border: solid 1px #707070;
  border-radius: 4px;
  color: #7F7F7F;
  cursor: pointer;
  background-color: #FFFFFF;
}
.date-picker{
  border-color: #7CBD45;
}
//<style>div.google-visualization-tooltip { transform: rotate(30deg); }</style>
