.btn-arrow {
  border: solid 1px #707070;
  border-radius: 4px;
  color: #7F7F7F;
  cursor: pointer;
  background-color: #FFFFFF;
}
.date-picker{
  border-color: #7CBD45;
}
.overlay-marker-top {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-tb {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-t {
  font-size: 12px;;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-top-2 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-tb-2 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-t-2 {
  font-size: 12px;;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-ct-2 {
  font-size: 12px;;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}

.overlay-marker-top-3 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-tb-3 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-t-3 {
  font-size: 12px;;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-41 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-42 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}

