<div class="row">
  <div class="col-md-11" style="text-align: center">{{ "pageTitle" | translate }}</div>
  <div class="col-md-1">
    <button type="button"><i class="fa fa-print" aria-hidden="true"></i></button>
  </div>
</div>
<br>
<style>div.google-visualization-tooltip { transform: rotate(0deg); }</style>
<div class="row">
  <div class="col-md-6">
    <div style="text-align: center">Title</div>
    <div class="row" style="text-align: center;">
      <div class="col-md-1">
        <button type="button" class="btn-arrow">
          <i class="fa fa-arrow-left fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-9">11月</div>
      <div class="col-md-2">
        <button class="btn-arrow" type="button" style="margin-left: -100px">
          <i class="fa fa-arrow-right fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div id="my-char-line1">kkkkkkkkk</div>
  </div>
  <div class="col-md-6">
    <div style="text-align: center">Title</div>
    <div class="row" style="text-align: center;">
      <div class="col-md-1">
        <button type="button" class="btn-arrow">
          <i class="fa fa-arrow-left fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-9">11月</div>
      <div class="col-md-2">
        <button class="btn-arrow" type="button" style="margin-left: -100px">
          <i class="fa fa-arrow-right fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div id="my-chart-line2">kkkkkkkkk</div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div style="text-align: center">Title</div>
    <div class="row" style="text-align: center;">
      <div class="col-md-1">
        <button type="button" class="btn-arrow">
          <i class="fa fa-arrow-left fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-9">11月</div>
      <div class="col-md-2">
        <button class="btn-arrow" type="button" style="margin-left: -100px">
          <i class="fa fa-arrow-right fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div id="my-chart-line3">kkkkkkkkk</div>
  </div>
  <div class="col-md-6">
    <div style="text-align: center">Title</div>
    <div class="row" style="text-align: center;">
      <div class="col-md-1">
        <button type="button" class="btn-arrow">
          <i class="fa fa-arrow-left fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-9">11月</div>
      <div class="col-md-2">
        <button class="btn-arrow" type="button" style="margin-left: -100px">
          <i class="fa fa-arrow-right fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div id="my-chart-column">kkkkkkkkk</div>
  </div>
</div>

<div class="row">
  <div id="my-chart-column1">kkkkkkkkk</div>
</div>
