<div class="row">
  <div class="col-md-11" style="text-align: center">{{ "pageTitle" | translate }}</div>
  <div class="col-md-1">
    <button type="button"><i class="fa fa-print" aria-hidden="true"></i></button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div style="text-align: center">Title</div>
    <div class="row" style="text-align: center;">
      <div class="col-md-1">
        <button class="btn-arrow" type="button" style="margin-right: -30px" (click)="clickLoadChartPrev()">
          <i class="fa fa-arrow-left fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-9">11月</div>
      <div class="col-md-1">
        <button class="btn-arrow" type="button" style="margin-left: 0px" (click)="clickLoadChartNext()">
          <i class="fa fa-arrow-right fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div id="my-char-line1" style="width: 500px; height: 300px;"></div>
    <div class="overlay-marker-top">
      <span>TOP</span>
    </div>
    <div class="overlay-marker-tb">
      <span>TB</span>
    </div>
    <div class="overlay-marker-t">
      <span>T</span>
    </div>
  </div>
  <div class="col-md-6">
    <div style="text-align: center">Title</div>
    <div class="row" style="text-align: center;">
      <div class="col-md-1">
        <button type="button" class="btn-arrow" style="margin-right: -30px">
          <i class="fa fa-arrow-left fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-9">11月</div>
      <div class="col-md-2">
        <button class="btn-arrow" type="button" style="margin-left: -100px">
          <i class="fa fa-arrow-right fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div id="my-chart-line2">kkkkkkkkk</div>
    <div class="overlay-marker-top-2">
      <span>TOP</span>
    </div>
    <div class="overlay-marker-tb-2">
      <span>TB</span>
    </div>
    <div class="overlay-marker-t-2">
      <span>T</span>
    </div>
    <div class="overlay-marker-ct-2">
      <span>CT</span>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div style="text-align: center">Title</div>
    <div class="row" style="text-align: center;">
      <div class="col-md-1">
        <button type="button" class="btn-arrow" style="margin-right: -30px">
          <i class="fa fa-arrow-left fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-9">11月</div>
      <div class="col-md-2">
        <button class="btn-arrow" type="button" style="margin-left: 0px">
          <i class="fa fa-arrow-right fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div id="my-chart-line3">kkkkkkkkk</div>
    <div class="overlay-marker-top-3">
      <span>TOP</span>
    </div>
    <div class="overlay-marker-tb-3">
      <span>TB</span>
    </div>
    <div class="overlay-marker-t-3">
      <span>T</span>
    </div>
  </div>
  <div class="col-md-6">
    <div style="text-align: center">Title</div>
    <div class="row" style="text-align: center;">
      <div class="col-md-1">
        <button type="button" class="btn-arrow" style="margin-right: -30px">
          <i class="fa fa-arrow-left fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-9">11月</div>
      <div class="col-md-2">
        <button class="btn-arrow" type="button" style="margin-left: 0px">
          <i class="fa fa-arrow-right fa-arrow" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div id="my-chart-column">kkkkkkkkk</div>
    <div class="overlay-marker-41">
      <div>TOP1<br>TOP2</div>
      <!--<div>TOP2</div>-->
    </div>
    <div class="overlay-marker-42">
      <div>TB1</div>
      <div>TB2</div>
    </div>
  </div>
</div>
