.btn-arrow {
  border: solid 1px #707070;
  border-radius: 4px;
  color: #7F7F7F;
  cursor: pointer;
  background-color: #FFFFFF;
}
.date-picker{
  border-color: #7CBD45;
}
.overlay-marker-top {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-tb {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-t {
  font-size: 12px;;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-top-2 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-tb-2 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-t-2 {
  font-size: 12px;;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-ct-2 {
  font-size: 12px;;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}

.overlay-marker-top-3 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-tb-3 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-t-3 {
  font-size: 12px;;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-41 {
  font-size: 12px;
  position: absolute;
  top: 53px;   /* chartArea top */
  left: 528px; /* chartArea left */
}
.overlay-marker-42 {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 528px;
}
.overlay-marker-43 {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 528px;
}

.overlay-marker-42 {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 528px;
}
.overlay-marker-43 {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 528px;
}
.first-year-1 {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 528px;
}
.last-year-1 {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 528px;
}
.first-year-2 {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 528px;
}
.last-year-2 {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 528px;
}
.first-year-3 {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 528px;
}
.last-year-3 {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 528px;
}
@media print
{
  top: 50;
}

@media screen
{
  .chart-column {
    padding-left: 25px;
    padding-bottom: 200px;
  }
}
@media print {
  div {
    font-size: 20px;
  }
  .my-char-line1 {
    color: #1AB77C;
  }
  .overlay-marker-41 {
    left: 60;
  }
  .chart-line1 {
     padding-left: 25px;
      margin-bottom: -2000px;
   }
  .title-line1 {
    left: -180px;
  }
  .chart-line2 {
    padding-left: 25px;
  }
  .title-line2 {
    left: -180px;
  }
  .chart-line3 {
    padding-left: 25px;
  }
  .title-line3 {
    left: -180px;
  }
  .chart-column {
    padding-left: 25px;
    padding-bottom: 100px;
  }
  #my-chart-column {
    padding-bottom: 100px;
  }
  .title-line4 {
    left: -180px;
  }
}


